Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [1]:
import pandas as pd

In [2]:
bike_df = pd.read_json('bike_df')
fq_df = pd.read_json('fq_df')
yelp_df = pd.read_json('yelp_df')

In [8]:
# Join bike_df and fq_df
merged_df = pd.merge(bike_df, fq_df, on='Latitude', how='left')

merged_df = pd.merge(merged_df, yelp_df, on='Latitude', how='left')

merged_df

,Station ID,Name_x,Latitude,Longitude_x,Number of Bikes,Retaurant name,Name_y,Longitude_y,Name,Location,Longitude,Rating
0,fb337bbed72e2be090071e199899b2be,Queen St E / Woodward Ave,43.665269,-79.319796,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4ff88d5880e71aa40d34cfe5d09b0ca7,Primrose Ave / Davenport Rd,43.671420,-79.445947,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a09c67c0b419654d907c9134b108e328,Queen St. E / Rhodes Ave.,43.666224,-79.317693,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,d6a9daee68070a8b106cfb598d81308c,Bond St / Queen St E,43.653236,-79.376716,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8f8af40d9388c8a3962559e8681d3db7,Church St / Alexander St,43.663722,-79.380288,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
100,a7ca61373064c6581461132f1ae050de,Broadview Ave / Westwood Ave,43.684865,-79.356602,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,62a1c39596c3d512dfa04f1d29b81035,Fulton Ave / Pape Ave,43.683950,-79.347046,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,b960be1eba97f5aefc6ad39ecc93cb11,Cosburn Ave / Donlands Ave,43.690537,-79.341307,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,908b17c0d06011373777bace0a3cd74c,Beltline Trail / Chaplin Cres.,43.704461,-79.423122,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,d2ce6ae839b7df2c912ab140253a5574,Lake Shore Blvd E / Leslie St,43.659195,-79.329196,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
cleaned_df = merged_df.dropna(axis=0, how='all')  # Remove rows with all null values
cleaned_df = merged_df.dropna(axis=1, how='all')  # Remove columns with all null values

cleaned_df

,Station ID,Name_x,Latitude,Longitude_x,Number of Bikes,Name,Location,Longitude,Rating
0,fb337bbed72e2be090071e199899b2be,Queen St E / Woodward Ave,43.665269,-79.319796,0,NaN,NaN,NaN,NaN
1,4ff88d5880e71aa40d34cfe5d09b0ca7,Primrose Ave / Davenport Rd,43.671420,-79.445947,3,NaN,NaN,NaN,NaN
2,a09c67c0b419654d907c9134b108e328,Queen St. E / Rhodes Ave.,43.666224,-79.317693,1,NaN,NaN,NaN,NaN
3,d6a9daee68070a8b106cfb598d81308c,Bond St / Queen St E,43.653236,-79.376716,12,NaN,NaN,NaN,NaN
4,8f8af40d9388c8a3962559e8681d3db7,Church St / Alexander St,43.663722,-79.380288,7,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
100,a7ca61373064c6581461132f1ae050de,Broadview Ave / Westwood Ave,43.684865,-79.356602,22,NaN,NaN,NaN,NaN
101,62a1c39596c3d512dfa04f1d29b81035,Fulton Ave / Pape Ave,43.683950,-79.347046,3,NaN,NaN,NaN,NaN
102,b960be1eba97f5aefc6ad39ecc93cb11,Cosburn Ave / Donlands Ave,43.690537,-79.341307,5,NaN,NaN,NaN,NaN
103,908b17c0d06011373777bace0a3cd74c,Beltline Trail / Chaplin Cres.,43.704461,-79.423122,8,NaN,NaN,NaN,NaN
104,d2ce6ae839b7df2c912ab140253a5574,Lake Shore Blvd E / Leslie St,43.659195,-79.329196,2,NaN,NaN,NaN,NaN

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

Look at the data before and after the join to validate your data.