In [164]:
import requests
import pandas as pd

# CityBikes

In [191]:
# API endpoint for Toronto city
url = 'https://api.citybik.es/v2/networks/toronto'

# Send GET request to retrieve bike-sharing data for Toronto
response = requests.get(url)

# Extract the data from the response
data = response.json()

# Extract the list of stations
stations = data['network']['stations']

# Iterate over each station and access the details
for i, station in enumerate(stations):
    if i > 100:
        break  # Exit the loop if the limit is reached

    station_id = station.get('id')
    name = station.get('name')
    latitude = station.get('latitude')
    longitude = station.get('longitude')
    num_of_bikes = station.get('free_bikes')

# Create a list to store the station details
station_details = []

# Iterate over each station and access the details
for i, station in enumerate(stations):
    if i > 100:
        break  # Exit the loop if the limit is reached
    station_id = station['id']
    name = station['name']
    latitude = station['latitude']
    longitude = station['longitude']
    num_of_bikes = station['free_bikes']

    # Append the station details as a dictionary to the list
    station_details.append({
        'Station ID': station_id,
        'Name': name,
        'Latitude': latitude,
        'Longitude': longitude,
        'Number of Bikes': num_of_bikes
    })

In [192]:
# Create the bike stations DataFrame
bike_df = pd.DataFrame(station_details)
bike_df

,Station ID,Name,Latitude,Longitude,Number of Bikes
0,fb337bbed72e2be090071e199899b2be,Queen St E / Woodward Ave,43.665269,-79.319796,16
1,4ff88d5880e71aa40d34cfe5d09b0ca7,Primrose Ave / Davenport Rd,43.671420,-79.445947,4
2,a09c67c0b419654d907c9134b108e328,Queen St. E / Rhodes Ave.,43.666224,-79.317693,22
3,d6a9daee68070a8b106cfb598d81308c,Bond St / Queen St E,43.653236,-79.376716,7
4,8f8af40d9388c8a3962559e8681d3db7,Church St / Alexander St,43.663722,-79.380288,10
...,...,...,...,...,...
96,a7ca61373064c6581461132f1ae050de,Broadview Ave / Westwood Ave,43.684865,-79.356602,22
97,62a1c39596c3d512dfa04f1d29b81035,Fulton Ave / Pape Ave,43.683950,-79.347046,4
98,b960be1eba97f5aefc6ad39ecc93cb11,Cosburn Ave / Donlands Ave,43.690537,-79.341307,5
99,908b17c0d06011373777bace0a3cd74c,Beltline Trail / Chaplin Cres.,43.704461,-79.423122,9
100,d2ce6ae839b7df2c912ab140253a5574,Lake Shore Blvd E / Leslie St,43.659195,-79.329196,16

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [193]:
API_key = 'fsq3dQYQp2ka71CYVbI6ehUtmigysRY/oygrq7j7KFRHyI8='
url = 'https://api.foursquare.com/v3/places/nearby'
radius = 1000  # Radius in meters
limit = 10

In [180]:
# Create a list to store the restaurant details
fq_rest_details = []

In [181]:
# Iterate over each row in the dataframe
for index, row in bike_df.iterrows():
    latitude = row['Latitude']
    longitude = row['Longitude']

    params = {
        'll': f'{latitude},{longitude}',
        'radius': radius,
        'query': 'restaurant',
        'limit': limit
    }
    headers = {"Authorization": API_key}

    response = requests.get(url, params=params, headers=headers)

    fq_rest_data = response.json()

    # Extract the list of restaurants
    restaurants = fq_rest_data['results']

    # Iterate over each restaurant and extract the details
    for restaurant in restaurants:
        name = restaurant['name']
        location = restaurant['location']['formatted_address']
        latitude = restaurant['geocodes']['main']['latitude']
        longitude = restaurant['geocodes']['main']['longitude']

        # Append the restaurant details as a dictionary to the list
        fq_rest_details.append({
            'Retaurant name': name,
            'Name': name,
            'Latitude': latitude,
            'Longitude': longitude
        })

Put your parsed results into a DataFrame

In [182]:
# Create Foursquare restaurants DataFrame
fq_df = pd.DataFrame(fq_rest_details)

fq_df

,Retaurant name,Name,Latitude,Longitude
0,Gio Rana's Really Really Nice Restaurant,Gio Rana's Really Really Nice Restaurant,43.663345,-79.330418
1,Occasions Restaurant,Occasions Restaurant,43.673316,-79.318244
2,Regency Restaurant Inc,Regency Restaurant Inc,43.672004,-79.322433
3,Famous Indian Cuisine,Famous Indian Cuisine,43.672148,-79.321988
4,Restaurant Tiflisi,Restaurant Tiflisi,43.669848,-79.301657
...,...,...,...,...
433,The Local,The Local,43.650937,-79.451080
434,Domani Restaurant & Wine Bar,Domani Restaurant & Wine Bar,43.649275,-79.450018
435,La Bella Managua,La Bella Managua,43.662323,-79.425086
436,River,River,43.651245,-79.450709
437,Grenadier Restaurant parking,Grenadier Restaurant parking,43.645467,-79.466002

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [189]:
API_key = 'u9nqlkJV8-tYun0YccBayBbLZ9CjblVJp0vAX9R12paPQOSv10Y0IDpDZVyfGoABFEo3CftG59CPjqESoxa3wJvgA9Ju8QyTav7LVuc9G-4QmWDcYWZmArNl3sJ7ZHYx'
url = 'https://api.yelp.com/v3/businesses/search'
radius = 1000  # Radius in meters
limit = 10

In [190]:
# Create a list to store restaurant details
y_rest_details = []

In [188]:
# Iterate over each row in the dataframe
for index, row in bike_df.iterrows():
    latitude = row['Latitude']
    longitude = row['Longitude']

    params = {
        'latitude': latitude,
        'longitude': longitude,
        'radius': radius,
        'categories': 'restaurants',
        'limit': limit
    }
    headers = {
        'Authorization': f'Bearer {API_key}'
    }

    # Send API request to Yelp
    response = requests.get(url, params=params, headers=headers)
    y_rest_data = response.json()

     # Extract the list of restaurants
    restaurants = response_json['businesses']

    # Iterate over each restaurant and extract the details
    for restaurant in restaurants:
        name = restaurant['name']
        location = restaurant['location']['address1']
        latitude = restaurant['coordinates']['latitude']
        longitude = restaurant['coordinates']['longitude']
        rating = restaurant['rating']

        # Append the restaurant details as a dictionary to the list
        rest_details.append({
            'Name': name,
            'Location': location,
            'Latitude': latitude,
            'Longitude': longitude,
            'Rating': rating
        })

{'error': {'code': 'ACCESS_LIMIT_REACHED',
  'description': "You've reached the access limit for this client. See instructions for requesting a higher access limit at https://docs.developer.yelp.com/docs/fusion-rate-limiting"}}

Put your parsed results into a DataFrame

In [194]:
# Create Yelp restaurants DataFrame
yelp_df = pd.DataFrame(y_rest_details)

yelp_df

Empty DataFrame
Columns: []
Index: []

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating